[Unit]
Description=Build Reef Keeper Observer timelapses daily

[Timer]
OnCalendar=*-*-* 13:10:00
Persistent=true
RandomizedDelaySec=5min
Unit=reefkeeper-observer-timelapse.service

[Install]
WantedBy=timers.target
